.link {
  text-decoration: none;
  font-size: var(--mantine-font-size-md);
  color: black;
  display: block;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: var(--mantine-radius-md);
  z-index: 100;
  &:hover {
    border: 1px solid rgba(100, 100, 111, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.nav {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: var(--mantine-radius-md);
  &:hover {
    background-color: var(--mantine-color-dark-0);
  }
}

.linkActive {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: var(--mantine-color-gray-7);
  border-radius: var(--mantine-radius-md);
  transition: top 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: -1;
  bottom: 0;
}
